In [1]:
import pandas as pd
import datetime as dt

In [2]:
data = pd.read_csv('quantumstock1.csv')

In [3]:
data['Date']= pd.to_datetime(data['Date'])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136518 entries, 0 to 136517
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      136518 non-null  datetime64[ns]
 1   open      136473 non-null  float64
 2   high      136473 non-null  float64
 3   low       136473 non-null  float64
 4   close     136473 non-null  float64
 5   adjclose  136473 non-null  float64
 6   volume    136473 non-null  float64
 7   ticker    136518 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 8.3+ MB

In [5]:
data.shape

(136518, 8)

In [6]:
data['Date'].min()

Timestamp('1970-03-25 00:00:00')

In [7]:
data['Date'].max()

Timestamp('2022-03-04 00:00:00')

In [8]:
data.head(10)

        Date    open   high     low  close  adjclose    volume ticker
0 2021-01-04  11.125  11.25  10.500  10.80     10.80  150500.0   IONQ
1 2021-01-05  10.850  11.83  10.750  11.11     11.11  165300.0   IONQ
2 2021-01-06  11.500  11.50  11.000  11.05     11.05  175600.0   IONQ
3 2021-01-07  11.500  11.50  11.050  11.11     11.11   94200.0   IONQ
4 2021-01-08  11.650  12.35  11.000  11.01     11.01  137500.0   IONQ
5 2021-01-11  11.800  11.80  10.800  11.17     11.17  162600.0   IONQ
6 2021-01-12  11.800  11.80  11.070  11.18     11.18  210700.0   IONQ
7 2021-01-13  11.340  11.37  10.970  11.20     11.20  386100.0   IONQ
8 2021-01-14  11.310  11.70  11.225  11.44     11.44  291000.0   IONQ
9 2021-01-15  11.570  11.79  11.110  11.22     11.22  269600.0   IONQ

In [9]:
def format(date):
    date = date.strftime('%m%d%Y')
    return date

In [10]:
data['ID'] = data['ticker'] + data['Date'].map(format)

In [16]:
data.head(10)

,Date,open,high,low,close,adjclose,volume,ticker,ID
0,2021-01-04,11.125,11.25,10.500,10.80,10.80,150500.0,IONQ,IONQ01042021
1,2021-01-05,10.850,11.83,10.750,11.11,11.11,165300.0,IONQ,IONQ01052021
2,2021-01-06,11.500,11.50,11.000,11.05,11.05,175600.0,IONQ,IONQ01062021
3,2021-01-07,11.500,11.50,11.050,11.11,11.11,94200.0,IONQ,IONQ01072021
4,2021-01-08,11.650,12.35,11.000,11.01,11.01,137500.0,IONQ,IONQ01082021
5,2021-01-11,11.800,11.80,10.800,11.17,11.17,162600.0,IONQ,IONQ01112021
6,2021-01-12,11.800,11.80,11.070,11.18,11.18,210700.0,IONQ,IONQ01122021
7,2021-01-13,11.340,11.37,10.970,11.20,11.20,386100.0,IONQ,IONQ01132021
8,2021-01-14,11.310,11.70,11.225,11.44,11.44,291000.0,IONQ,IONQ01142021
9,2021-01-15,11.570,11.79,11.110,11.22,11.22,269600.0,IONQ,IONQ01152021

In [11]:
data['ID'].duplicated().sum()

19

In [12]:
data['Date'] = pd.to_datetime(data['Date'])

In [13]:
data['Date'][1].strftime('%m%d%Y')

'01052021'

In [15]:
data['ID']

0          IONQ01042021
1          IONQ01052021
2          IONQ01062021
3          IONQ01072021
4          IONQ01082021
              ...
136513    TOSYY02282022
136514    TOSYY03012022
136515    TOSYY03022022
136516    TOSYY03032022
136517    TOSYY03032022
Name: ID, Length: 136518, dtype: object

In [121]:
data.head()

,Date,open,high,low,close,adjclose,volume,ticker,ID
0,2021-01-04,11.125,11.25,10.50,10.80,10.80,150500.0,IONQ,IONQ01042021
1,2021-01-05,10.850,11.83,10.75,11.11,11.11,165300.0,IONQ,IONQ01052021
2,2021-01-06,11.500,11.50,11.00,11.05,11.05,175600.0,IONQ,IONQ01062021
3,2021-01-07,11.500,11.50,11.05,11.11,11.11,94200.0,IONQ,IONQ01072021
4,2021-01-08,11.650,12.35,11.00,11.01,11.01,137500.0,IONQ,IONQ01082021

In [122]:
data = data.drop_duplicates(subset='ID')

In [123]:
data = data.dropna(subset=['ID'])

In [17]:
data.isnull().sum()

Date         0
open        45
high        45
low         45
close       45
adjclose    45
volume      45
ticker       0
ID           0
dtype: int64

In [18]:
data.duplicated().sum()

0

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136499 entries, 0 to 136516
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      136499 non-null  datetime64[ns]
 1   open      136454 non-null  float64
 2   high      136454 non-null  float64
 3   low       136454 non-null  float64
 4   close     136454 non-null  float64
 5   adjclose  136454 non-null  float64
 6   volume    136454 non-null  float64
 7   ticker    136499 non-null  object
 8   ID        136499 non-null  object
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 10.4+ MB

In [125]:
data.isnull().sum()

Date         0
open        45
high        45
low         45
close       45
adjclose    45
volume      45
ticker       0
ID           0
dtype: int64

In [126]:
data.to_csv('QuantumStock.csv')

In [127]:
data.describe()

,open,high,low,close,adjclose,volume
count,136454.000000,136454.000000,136454.000000,136454.000000,136454.000000,1.364540e+05
mean,167.085286,168.858058,165.205896,167.065019,145.678917,1.256805e+07
std,499.800960,504.671103,494.459576,499.608868,451.884099,2.434121e+07
min,0.000000,0.015000,0.010000,0.015000,0.015000,0.000000e+00
25%,8.289150,8.390625,8.158371,8.282319,4.747128,8.074000e+05
50%,24.780001,25.059999,24.500000,24.796844,16.536671,3.271100e+06
75%,69.739998,70.545637,68.957499,69.760002,53.444435,1.122761e+07
max,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,1.123003e+09

In [128]:
data.isnull().sum()

Date         0
open        45
high        45
low         45
close       45
adjclose    45
volume      45
ticker       0
ID           0
dtype: int64

In [130]:
data = data.dropna()
data['ticker'].value_counts()

IBM       13103
RTX       13103
LMT       11391
INTC      10582
NOC       10129
T          9650
MSFT       9068
NOK        6968
MIELY      6365
AMZN       6242
IFX.DE     5620
ONE.V      5452
4185.T     5294
ACN        5189
GOOG       4416
BIDU       4173
QUBT       3799
TOSYY      3062
QNC.V      2552
IONQ        294
RGTI          2
Name: ticker, dtype: int64

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136454 entries, 0 to 136516
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      136454 non-null  datetime64[ns]
 1   open      136454 non-null  float64
 2   high      136454 non-null  float64
 3   low       136454 non-null  float64
 4   close     136454 non-null  float64
 5   adjclose  136454 non-null  float64
 6   volume    136454 non-null  float64
 7   ticker    136454 non-null  object
 8   ID        136454 non-null  object
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 10.4+ MB

In [69]:
data['ID'].isnull().sum()

0

In [105]:
df = pd.read_csv('QuantumStock.csv')

In [106]:
df.isnull().sum()

ID           0
Date         0
open        45
high        45
low         45
close       45
adjclose    45
volume      45
ticker       0
dtype: int64